@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap");

.main-container {
    display: flex;
}

.house-info-container {
    flex: 0 1 auto;
    width: 600px;
}

.map-container {
    flex: 0 1 auto;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.house-info-title {
    text-align: center;

    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity));

    font-size: calc(1.325rem + 0.9vw);
    font-family: "Black Han Sans", sans-serif;
}

hr {
    background-color: #ffc800;
}
.house-name {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
}

.house-address > span {
    margin-right: 3px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.7rem + 0.1vw);
    font-weight: bold;
}

.house-price {
    margin: 15px 0;
    flex: 0 0 auto;
    width: 50%;
    float: left;
}

.house-price .price-label {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.7rem + 0.3vw);
    font-weight: bold;
}

.house-price .house-deal-date {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.3rem + 0.3vw);
    font-weight: bold;
}

.house-price .house-deal-price {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
}

.house-price .house-deal-price-unit {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.3rem + 0.5vw);
    font-weight: bold;
}

.house-area {
    margin: 15px 0;
    flex: 0 0 auto;
    width: 50%;
    float: right;
}

.house-area .area-label {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.7rem + 0.3vw);
    font-weight: bold;
}

.house-area .house-area-value {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
}

.house-area .house-area-unit {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(0.3rem + 0.5vw);
    font-weight: bold;
}

.btn-detail {
    clear: both;
}
