@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap");

.address-container {
    line-height: 100px;
}

.option-font {
    color: black;
    font-family: "Black Han Sans", sans-serif;
    font-size: 70px;
    font-weight: 100;

    flex: 0 0 auto;
    width: auto;

    line-height: 150px;
}
