@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap");

.main-container {
    display: flex;
}

.place-info-container {
    flex: 0 1 auto;
    width: 600px;
}

.map-container {
    flex: 0 1 auto;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.place-info-title {
    text-align: center;

    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity));

    font-size: calc(1.325rem + 0.9vw);
    font-family: "Black Han Sans", sans-serif;
}

hr {
    background-color: #ffc800;
}

.place-state {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1.5rem + 0.7vw);
    font-weight: bold;
}

.place-city {
    margin-right: 5px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
}

.place-dong {
    font-family: "Nanum Gothic", sans-serif;
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
}
